<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/all.html :: all(~{ :: .thead},~{ :: .tbody})}">
<table>
    <thead>
    <tr class="thead" th:remove="tag">
        <th>Langue</th>
        <th>Texte</th>
        <th>Dossier Id</th>
    </tr>
    </thead>
    <tbody class="tbody">
    <tr th:each="resume : ${elements}">
        <div th:replace="~{fragments/all.html :: row(${resume},~{ :: .data})}">
            <div class="data">
                <td>[[${resume.langue}]]</td>
                <td>[[${resume.texte}]]</td>
                <td>[[${resume.dossierId}]]</td>
            </div>
        </div>
    </tr>
    </tbody>
</table>
</html>
