<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/byId.html :: byId(~{ :: form})}">
    <form th:remove="tag">
        <div class="col-12">
            <label> Nom :
                <input type="text" th:field="*{nom}" placeholder="Conception de templates Thymeleaf">
            </label>
            <p th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></p>
            <label> Prenom :
                <input type="text" th:field="*{prenom}" placeholder="Conception de templates Thymeleaf">
            </label>
            <p th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"></p>
        </div>
    </form>
</html>